<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!--Test-->
    <!--<add key="userId" value="983c4d9c-27ef-45c0-8eaf-2d0ae2dddfec" />
    <add key="userToken" value="67625002-8c4a-49a1-81d8-ce7caebba3ec" />-->
    <!--Prod-->
    <add key="userId" value="452f44ee-6b64-4635-9ce0-4308e7b75cd8" />
    <add key="userToken" value="93a61e3f-80bf-4119-bf83-a96e13eac090" />
  </appSettings>
</configuration>